<div class="body-wrapper  gdlr-icon-dark gdlr-header-transparent" data-home="https://timezonehostel.com">
  <app-header></app-header>
  <div id="gdlr-header-substitute"></div>
  <!-- is search -->
  <div class="content-wrapper">
    <div class="gdlr-content">
      <div class="with-sidebar-wrapper">
        <section id="content-reservations">
          <!--     CONTENT HERE       -->
          <router-outlet></router-outlet>
        </section>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <app-footer></app-footer>
</div>
